:root {
    --red: #D71709;
    --navy: #243B4A;
    --green: #3CA693;
    --yellow: #ECC30B;
    --gray: #C2B2B4;
}

html, body {
    background-color: var(--navy);
    box-sizing: content-box;
    height: 100%;
    overflow: hidden scroll;
}

* {
    text-align: center;
    text-decoration: none;
    margin: 0;
    padding: 0;
    outline: none;
}

/* FONT FACE DECLARATIONS ======================================================== */

@font-face { font-family: Despairs; src: url("fonts/Despairs-X3Wxo.ttf"); }
@font-face { font-family: Nunito; src: url("fonts/Nunito-VariableFont_wght.ttf"); }

/* TEXT STYLES =================================================================== */

h1 { font-family: Despairs; text-align: left; font-size: 60px; color: var(--gray); letter-spacing: 20px; }
h2 {
    font-family: Despairs;
    font-size: 20px;
    color: var(--gray);
    letter-spacing: 5px;
    padding-bottom: 10px;
}
h3 { font-size: 30px; color: var(--gray); }
h4 {
    font-family: Nunito;
    color: var(--gray);
    font-size: 10px;
    text-align: left;
    letter-spacing: 3px;
}

a { text-decoration: none; color: white; font-family: Nunito; letter-spacing: 2px; }
p {
    font-family: Nunito;
    text-align: justify; 
    color: var(--navy);
    font-size: 14px;
}

/* GENERAL CLASSES =============================================================== */

.flex-col { display: flex; flex-direction: column; }
.flex-row { display: flex; flex-direction: row; }
.row-to-col { display: flex; flex-direction: row; }

.flex-col-center { display: flex; flex-direction: column; align-items: center; justify-content: center; }
.flex-row-center { display: flex; flex-direction: row; align-items: center; justify-content: center; }

/* SCROLL CONTENT ================================================================ */

#content {
    height: 100vh; width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
}
.content-block { width: 100%; }
.content-block-content {
    opacity: 0;  
    transform: translateX(50%);
    transition: transform 1s, opacity 1s;
}

/* NAV / FOOTER =================================================================== */

nav {
    gap: 40px;
    position: fixed; top: 30px; left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border-radius: 30px;
    background-color: rgba(36, 59, 74, 0.6);
}
.nav-divider {
    background-color: var(--gray);
    border-radius: 50%;
    width: 4px; height: 4px;
}
.nav-item {
    cursor: pointer;
    color: var(--gray);
    font-family: Despairs;
    font-size: 14px;
    letter-spacing: 2px;
    transition: text-shadow 0.3s;
}
.nav-item:hover {
    text-shadow: 0 0 5px var(--gray), 0 0 5px var(--gray);
}

footer {
    background-color: var(--navy);
    padding: 40px;
}

/* TITLE BLOCK ====================================================================== */

#title-block { background-color: var(--navy); height: 100vh; }
#title-block .row-to-col { align-items: center; justify-content: center; gap: 40px; }

/* PROJECTS BLOCK =================================================================== */

.project-card {
    padding: 20px;
    border-radius: 5px;
    width: calc(100% - 40px);
    position: relative;
    overflow: hidden;
}
.project-card::before {
    content: " ";
    border: 2px solid var(--yellow); border-radius: 5px;
    height: 100%; width: 100%;
    position: absolute; top: 50%; left: 50%; z-index: 3;
    transform: translate(-50%, -50%);
    opacity: 0; transition: 0.3s;
}
.project-card::after {
    content: "LEARN\AMORE"; white-space: pre;
    border-radius: 5px;
    -webkit-text-stroke: 2px var(--yellow);
    height: 100%; width: 100%;
    opacity: 0;
    position: absolute; top: 0; left: 0;
    display: flex; align-items: center; justify-content: center;
    text-shadow: 0 0 5px var(--yellow), 0 0 5px var(--yellow);
    font-family: Despairs; font-size: 24px; color: var(--yellow); letter-spacing: 2px;
    transition: opacity 0.3s;
}
.project-card-soon::after {
    content: "COMING\ASOON";
}
.project-card:hover::before, .project-card:hover::after {
    opacity: 80%;
}
.project-card:hover::before {
    height: calc(100% - 40px); width: calc(100% - 40px);
}
.project-card-navy::after { background-color: var(--navy); }
.project-card-red::after { background-color: var(--red); }
.project-card-yellow::after { 
    background-color: var(--yellow); 
    color: var(--navy); 
    -webkit-text-stroke-color: var(--navy);
    text-shadow: 0 0 5px var(--navy), 0 0 5px var(--navy);
}
.project-card-yellow::before { border-color: var(--navy); }

/* ABOUT BLOCK =================================================================== */

.about-favorite {
    height: 90px; width: 80px; 
    border-radius: 5px; 
    object-fit: cover;
}

/* MEDIA ONLY STYLES =============================================================== */
@media only screen and (max-width: 800px) {
    h1, h4 { text-align: center; }
    h1 { font-size: 50px; }

    #title-block { padding-top: 40px; }
    
    .row-to-col { flex-direction: column; }
}

@media only screen and (max-width: 450px) {
    h1 { font-size: 40px; letter-spacing: 10px; }

    nav { gap: 10px; }
    .nav-item { font-size: 10px; letter-spacing: 2px; }

    p { font-size: 12px; }

    .about-favorite { height: 70px; width: 60px; }
}
